<div id="<%= dom_id pending_member %>">
  <p>
    <strong>First name:</strong>
    <%= pending_member.first_name %>
  </p>

  <p>
    <strong>Preferred name:</strong>
    <%= pending_member.preferred_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= pending_member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pending_member.email %>
  </p>

</div>
