<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<h1>Pending members</h1>

<div id="pending_members">
  <% @pending_members.each do |pending_member| %>
    <%= render pending_member %>
    <p>
      <%= link_to "Approve", new_account_members_path(p_id: pending_member.id) , class:"link-button" %>
      <%= button_to "Ignore", pending_member, method: :delete , class:"link-button" %>
    </p>
  <% end %>
</div>

</div>


<div class="center bottom-navigation">
  <%= link_to "Officer Dashboard", officer_dashboard_index_path, class:"link-button" %>
</div>
