<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deeper Life Campus Fellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="center text-tile mobile-container">
        <div class="grid-item">
            <h2>You're Logged into the Officer Dashboard</h2>

            <div>
                <%= image_tag(@org_info.image, style: "width: 200px; height: 200px; margin: 20px") %>
            </div>
        </div>
        
        <div class="grid-item">
            <%= link_to "Events", events_url , class: "link-button"%>
            <%= link_to "Members", members_path , class: "link-button"%>
            <%= link_to "Pending Members(#{@pendingCount})", pending_members_path , class: "link-button"%>
            <%= link_to "Attendance Tracking", attendances_url , class: "link-button"%>
            <%= link_to "Org Info", orginfos_url , class: "link-button"%> 
            <%= link_to "Feedback", feedbacks_url , class: "link-button"%> 
            <%= link_to "Edit Profile", edit_member_path(@user) , class: "link-button"%> 
            <%= link_to "Sign Out", destroy_admin_session_path , class: "link-button"%>
        

        </div>
        
        <div class="center text-tile grid-item">
            <span class="info-title"><%= @org_info.title%></span>
            <br>

            <div class="list-tile">
                <span class="info-text"><%= @org_info.description %></span>
            </div>

            <div>
                <%= link_to "View Charter", @org_info.file, target: "_blank", class: "link-button", style: "margin: 20px" %>
            </div>
        </div>

        <div class="grid-item">
            <p class="info-text officer-title info-title ">Club Officers</p>
        </div>
        
        <div class="grid-item">
            <% @officers.each do |officer| %>
                <div class="center text-tile">
                <div class="list-tile">
                    <span class="info-title"><%= officer.preferred_name%> <%= officer.last_name%></span>
                </div>
                <br>

                <div class="list-tile">
                <span class="info-text"><%= officer.bio %></span>
                </div>

                </div>

                </div>
            <% end %>
        </div>
    </div>
</body>