<div id="<%= dom_id event %>", class="center text-tile">
  
  <div class="input-label">
    <div class="event-name"><%= event.event_name %></div>
  </div>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start:</strong>
<%= event.start_time.strftime("%B %d, %Y %I:%M %p") %>

  </p>

  <p>
    <strong>End:</strong>
    <%= event.end_time.strftime("%B %d, %Y %I:%M %p") %>
  </p>



  <% if  OmniAuth.config.test_mode == false%>
  <% if  current_admin.nil? == false%>
  <% if Member.find_by(email: current_admin.email).is_admin %>
    <p>
      <strong>Password:</strong>
      <%= event.password %>
    </p>
  <% end %>
  <% end %>
  <% end %>

</div>
