<head>
  <title>Event Schedule</title>
  <%= stylesheet_link_tag 'event_schedule', media: 'all' %> <!-- Include the desired stylesheet -->
</head>
<body>
    <div class="main-body-container">
        <div class="body-item header-container text-tile">
            <h1>Event Schedule</h1>
        </div>
        
        <div class="text-tile body-item event-container grid-item">
            <ul class="event-list">
                <div class="event-item">
                    <div class="input-label">Name</div>
                    <div class="input-label">Date</div>
                    <div class="input-label">Location</div>
                    <div class="input-label">Show Event</div>
                </div>

                <% @events.each do |event| %>
                    <li>
                        <div class="event-item">
                            <div class="input-label"><%= event.event_name %></div>
                            <div class="input-label"><%= event.start_time.strftime("%B %d, %Y %I:%M %p") %></div>
                            <div class="input-label"><%= event.location %></div>
                            <div>
                                <%= link_to "Show this event", schedule_show_event_path(event), class: "link-button" %>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div> 

        <div class="back-button">
            <% if @user == nil %>
                <%= link_to "Back", new_admin_session_path, class: "link-button"%> 
            <% elsif @user.is_admin %>
                <%= link_to "Back", officer_dashboard_index_path , class: "link-button"%>
            <% else %> 
                <%= link_to "Back", member_dashboard_index_path , class: "link-button"%>
            <% end %>
        </div>
    </div>
</body>
