<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deeper Life Campus Fellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <div clas="mobile-container">



    <h1>Event QR Code</h1>
    <% # Generate the QR code with the event's URL %>
    <% qr = RQRCode::QRCode.new(member_index_events_url(), :size => 7, :level => :h) %>
    <% # Render the QR code as a PNG image %>
    <% png = qr.as_png(resize_gte_to: false, resize_exactly_to: 200, border_modules: 4) %>
    <img src="<%= "data:image/png;base64,#{Base64.strict_encode64(png.to_s)}" %>" alt="Event QR Code">

    <div class="grid-item">
      <p style="color: green"><%= notice %></p>
    </div>
    
    <div class="center text-tile grid-item">
      <h1>Events</h1>
    </div>

    <div class="grid-item">
      <% @events.each do |event| %>
      <div class="center text-tile list-tile input-label">
        <%= render event %>
        
        <p>
          <%= link_to "Show this Event", event, class: "link-button" %>
        </p>
      </div>
      <% end %>
    </div>
    
    <div class="center bottom-navigation grid-item">
      <%= link_to "New event", new_event_path,  class: "link-button" %>
      <%= link_to 'Back to Dashboard', officer_dashboard_index_path , class: "link-button" %>
    </div>
  </div>
</body>