<%
=begin%>
 <p style="color: green"><%= notice %></p> 
<%
=end%>

<%= render @event %>
<p style="color: green"><%= notice %></p>

<div class="center text-tile list-tile">
<%= render @event %>


</div>

<div class="center bottom-navigation">
  <%= link_to "Back to events", member_index_events_path , class: "link-button"%>

</div>
