<p style="color: green"><%= notice %></p>

<div class="center text-tile list-tile">
<%= render @event %>

<h3>Attendees</h3>
<% @attendees_main.each do |attendee| %>
  <p><%= attendee.first_name + " " + attendee.last_name%></p>
  <!-- Access other attributes of the attendee as needed -->
<% end %>

</div>

<div class="center bottom-navigation">
  <%= link_to "Edit this event", edit_event_path(@event) , class: "link-button"%> 
  <%= button_to "Destroy this event", @event, method: :delete , class: "link-button"%>
  <%= link_to "Back to events", events_path , class: "link-button"%>
</div>
