<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deeper Life Campus Fellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="mobile-container">
    <div class="grid-item">
      <p style="color: green"><%= notice %></p>
    </div>

    <div class="center text-tile list-tile grid-item">
      <%= render @event %>

      <h3>Attendees</h3>  
      <% if  OmniAuth.config.test_mode == false %>
      <%= link_to "Create New Attendance", ne2w_attendances_path(event: @event), class: "link-button"  %>

      <% @attendees_raw.each do |attendee| %>
          <p>
            <%= Member.find_by(id: attendee.member_id).first_name + " " + Member.find_by(id: attendee.member_id).last_name + " " %> 
            <%= link_to 'Delete?', attendance_path(attendee) %>
          </p>
        <!-- Access other attributes of the attendee as needed -->
      <% end %>
      <% end %>
    </div>

    <div class="center bottom-navigation grid-item">
      <%= link_to "Edit this event", edit_event_path(@event) , class: "link-button"%> 
      <%= button_to "Destroy this event", @event, method: :delete , class: "link-button"%>
      <%= link_to "Back to events", events_path , class: "link-button"%>
    </div>

    <h1>Event QR Code</h1>
    <% # Generate the QR code with the event's URL %>
    <% qr = RQRCode::QRCode.new(events_url(@event), :size => 4, :level => :h) %>
    <% # Render the QR code as a PNG image %>
    <% png = qr.as_png(resize_gte_to: false, resize_exactly_to: 200, border_modules: 4) %>
    <img src="<%= "data:image/png;base64,#{Base64.strict_encode64(png.to_s)}" %>" alt="Event QR Code">
  

  </div>
</body>

