<%= form_with(model: orginfo) do |form| %>
  <% if orginfo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(orginfo.errors.count, "error") %> prohibited this orginfo from being saved:</h2>

      <ul>
        <% orginfo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
