<div id="<%= dom_id feedback %>">
  <p>
    <strong>Satisfaction:</strong>
    <%= feedback.satisfaction %>
  </p>

  <p>
    <strong>Critiques:</strong>
    <%= feedback.critiques %>
  </p>

  <p>
    <strong>New ideas:</strong>
    <%= feedback.new_ideas %>
  </p>

  <p>
    <strong>Member:</strong>
    <% member = Member.find(feedback.member_id) if feedback.member_id %>
    <%= member.first_name %> <%= member.last_name %>
  </p>

</div>
