<div id="<%= dom_id feedback %>">
  <p>
    <strong>Satisfaction:</strong>
    <%= feedback.satisfaction %>
  </p>

  <p>
    <strong>Critiques:</strong>
    <%= feedback.critiques %>
  </p>

  <p>
    <strong>New ideas:</strong>
    <%= feedback.new_ideas %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= feedback.member_id %>
  </p>

</div>
