<div id="<%= dom_id feedback %>">
  <p>
    <strong>Satisfaction:</strong>
    <div><%= feedback.satisfaction %> / 5</div>
  </p>

  <p>
    <strong>Critiques:</strong>
    <div><%= feedback.critiques %></div>
  </p>

  <p>
    <strong>New ideas:</strong>
    <div><%= feedback.new_ideas %></div>
  </p>

  <p>
    <strong>Member:</strong>
    <div><%= Member.find(feedback.member_id).preferred_name %> <%= Member.find(feedback.member_id).last_name %></div>
    <div><%= Member.find(feedback.member_id).email %></div>
  </p>

</div>
