<p style="color: green"><%= notice %></p>

<div class="center text-tile">
<%= render @feedback %>

<div class="center bottom-navigation">
  <% if @user.is_admin %>
    <%= link_to "Back to feedback", feedbacks_url , class: "link-button" %> 
    <%= button_to "Destroy this feedback", @feedback, method: :delete, class: "link-button" %>
    <%= link_to "Back to dashboard", officer_dashboard_index_path, class: "link-button"%> 
  <% else %>
    <%= link_to "Back to dashboard", member_dashboard_index_path , class: "link-button"%> 
  <% end %>
</div>

</div>
