<p style="color: green"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Nick Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Event Name</th>
      <th>Delete</th>
      <!-- Add more table headers for additional member attributes -->
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.member.preferred_name %></td>
        <td><%= attendance.member.first_name %></td>
        <td><%= attendance.member.last_name %></td>
        <td><%= attendance.member.email %></td>
        <td><%= attendance.event.event_name %></td>
        <td><%= link_to "Delete?", attendance %></td>
        <!-- Add more table cells for additional member attributes -->
      </tr>
    <% end %>
  </tbody>
</table>


<div class="center bottom-navigation">

  <%= link_to 'Back to Dashboard', officer_dashboard_index_path , class: "link-button" %>

</div>
<%
=begin%>
 <%= link_to "New attendance", new_attendance_path %> 
<%
=end%>

