<div class="center text-tile">
<h1>Sign in</h1>


<%= form_for @attendance, url: create2_attendances_path do |f| %>
  <div class="field">
    <div class> Event: <%= @event.event_name %> </div>
    <%= f.hidden_field :event_id, value: @event.id %>
  </div>

  <div class="field">
    <%= f.label :member_id %>
    <%= f.collection_select(:member_id, Member.all, :id, Proc.new { |member| "#{member.first_name} '#{member.preferred_name}' #{member.last_name}" }) %>
  </div>
  
  <div>
    <%= f.hidden_field :attended, value: true %>
  </div> 

  <div class="actions">
    <%= f.submit "Create Attendance" %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to Event", event_path(@event), class:"link-button" %>
</div>

</div>
