<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Preferred name:</strong>
    <%= member.preferred_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <!--
    <p>
      <strong>Is member:</strong>
      <%= member.is_member %>
    </p>

    <p>
      <strong>Is admin:</strong>
      <%= member.is_admin %>
    </p>

    <p>
      <strong>Bio:</strong>
      <%= member.bio %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= member.contact %>
    </p>

    <p>
      <strong>Photo file name:</strong>
      <%= member.photo_file_name %>
    </p>
  -->

  <p>
    <strong>Role:</strong>
    <%= member.role %>
  </p>

</div>
