<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Preferred name:</strong>
    <%= member.preferred_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

    <p>
    <% if member.is_member %>
      <strong>Current Member</strong>
    <% else %>
      <strong>Past Member</strong>
    <% end %>
      
    </p>

    <p>
      <% if member.is_admin %>
      <strong>Officer</strong>
    <% else %>
      <strong>Member</strong>
    <% end %>
    </p>

    

    <p>
    <strong>Role:</strong>
    <%= member.role %>
  </p>

    <% if member.is_admin %>
    <p>
      <strong>Bio:</strong>
      <%= member.bio %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= member.contact %>
    </p>

    <p>
      <strong>Photo file name:</strong>
      <%= member.photo_file_name %>
    </p>

    <% end %>


  

</div>
